// Base
$primary-color: #b7bea8;
$primary-variant-color: #17280a;
$secondary-color: #e1e0da;
$secondary-variant-color: #b7bea8;
$background-color: #050332;
$surface-color: #b3b3b3;
$error-color: #ff0000;
// On
$on-primary-color: #adab9f;
$on-primary-variant-color: #2f5214;
$on-secondary-color: #f4f3f1;
$on-secondary-variant-color: #dbded3;
$on-background-color: #e6e6e6;
$on-surface-color: #808080;
$on-error-color: #330000;
// Other
$typography-color: #b4b3b4;
$iconography-color: #000000;
$accessible-color: #000000;
$alternative-color: #000000;
// Component
$header-height: 80px;
$trusted-space: 100px;
$product-space: 100px;
$pricing-space: 90px;
