// Base
$primary-color: #d864a3;
$primary-variant-color: #d864a3;
$secondary-color: #3d23c4;
$secondary-variant-color: #3d23c4;
$background-color: #000000;
// On
$on-primary-color: #ffffff;
$on-primary-variant-color: #ffffff;
$on-secondary-color: #ffffff;
$on-secondary-variant-color: #ffffff;
// Other
$typography-color: #ffffff;
$iconography-color: #000000;
// Component
$logo-color: #ffffff;
$footer-height: 180px;
$footer-color: #000000;
$footer-logo-color: #a9a9a9;
$brand-color: #ffffff;
$trusted-space: 100px;
$product-space: 100px;
$product-screenshot-radius: 2px;
$product-screenshot-space: 8px;
$product-screenshot-height: 600px;
$product-spec-space: 32px;
$pricing-space: 90px;
$feature-gallery-space: 90px;
$feature-gallery-color: $primary-color;
$team-space: 60px;
$team-avatar-size: 60px;
$team-title-size: 12px;
$team-description-size: 8px;
$team-social-account-size: 18px;
$team-social-account-color: #d864a3;
$more-color: #ffd640;
