// Base
$primary-color: #E269A1;
$primary-variant-color: #D865A3;
$secondary-color: #5244A1;
$secondary-variant-color: #5244A1;
$background-color: $primary-color;
// On
$on-primary-color: #FFFFFF;
$on-primary-variant-color: #FFFFFF;
$on-secondary-color: #FFFFFF;
$on-secondary-variant-color: #FFFFFF;
// Other
$typography-color: #FFFFFF;
$iconography-color: #000000;
// Component
$icon-color: $primary-color;
$icon-size: 30px;
$disabled-color: #acacac;
$border-radius: 2px;
$logo-color: #FFFFFF;
$footer-height: 200px;
$footer-color: #000000;
$footer-logo-color: #A9A9A9;
$brand-color: #FFFFFF;
$trusted-space: 100px;
$product-space: 100px;
$product-screenshot-radius: 2px;
$product-screenshot-space: 32px;
$product-screenshot-height: 600px;
$product-spec-space: 8px;
$pricing-space: 90px;
$feature-gallery-space: 90px;
$feature-gallery-color: $primary-color;
$team-space: 60px;
$team-avatar-size: 60px;
$team-title-size: 12px;
$team-description-size: 8px;
$team-social-account-size: 18px;
$team-social-account-color: $iconography-color;
$more-color: #ECC026;
