// Base
$primary-color: #D864A3;
$primary-variant-color: #D864A3;
$secondary-color: #3D23C4;
$secondary-variant-color: #3D23C4;
$background-color: #000000;
// On
$on-primary-color: #FFFFFF;
$on-primary-variant-color: #FFFFFF;
$on-secondary-color: #FFFFFF;
$on-secondary-variant-color: #FFFFFF;
// Other
$typography-color: #FFFFFF;
$iconography-color: #000000;
// Component
$logo-color: #FFFFFF;
$footer-height: 180px;
$footer-color: #000000;
$footer-logo-color: #A9A9A9;
$brand-color: #FFFFFF;
$trusted-space: 100px;
$product-space: 100px;
$product-screenshot-radius: 2px;
$product-screenshot-space: 8px;
$product-screenshot-height: 600px;
$product-spec-space: 32px;
$pricing-space: 90px;
$feature-gallery-space: 90px;
$feature-gallery-color: $primary-color;
$team-space: 60px;
