@import 'theme/fewbox-variables';

.fb-product {
    padding: $product-space 0;
    .screenshot {
        margin: $product-screenshot-space 0;
        img {
            border-radius: $product-screenshot-radius;
            box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
            height: $product-screenshot-height;
        }
    }
    .screenshot-left {
        text-align: left;
    }
    .screenshot-right {
        text-align: right;
    }
    .screenshot-center {
        text-align: center;
    }
    .spec {
        margin: $product-spec-space 0;
    }
    .spec-left {
        text-align: left;
    }
    .spec-right {
        text-align: right;
    }
    .spec-center {
        text-align: center;
    }
}
