@import 'src/theme/fewbox-variables';

.fb-product {
    padding: $product-space 0;
    .screenshot {
        margin: $product-space 0;
        svg {
            height: 180px;
        }
    }
    .screenshot-left {
        text-align: left;
    }
    .screenshot-right {
        text-align: right;
    }
    .screenshot-center {
        text-align: center;
    }
    .spec {
        margin: $product-space 0;
    }
    .spec-left {
        text-align: left;
    }
    .spec-right {
        text-align: right;
    }
    .spec-center {
        text-align: center;
    }
}
